body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1d1f27;
    color: #fff;
    overflow: hidden;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #20232a;
    padding: 20px 10px; /* Ajustar para permitir scroll en móvil */
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;
    overflow-y: auto;
    margin-bottom: 60px; /* Asegura espacio para los botones */
}

.main-content h1 {
    margin: 20px 0; /* Añade margen para separar del contenido */
    font-size: 1.5em; /* Asegura un tamaño adecuado */
    word-wrap: break-word; /* Previene que palabras largas rompan el diseño */
    text-align: center;
    max-width: 90%; /* Evita que se desborde horizontalmente */
}

.main-content img {
    max-width: 100%;
    max-height: 70%; /* Limita la imagen para dejar espacio al título */
    border-radius: 10px;
    box-shadow: none;
    object-fit: contain;
}

.main-content p {
    max-width: 90%;
    text-align: justify;
    margin-top: 20px;
    font-size: 1em;
    color: #ddd;
}

/* Estilos para el contenedor de las pestañas */
.tab-container {
    width: 100%;
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

/* Estilos para las pestañas */
.tab {
    flex: 1;
    padding: 15px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-right: 1px solid #444;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 0.8em;
    box-sizing: border-box;
}

.tab:hover {
    background-color: #3a3f51;
    transform: scale(1.05);
}

/* Estilo para la pestaña activa */
.tab.active {
    background-color: #495059;
    border-bottom: 5px solid #ffcc00;
    transform: scale(1.05);
}

/* Estilos para el contenido relacionado superpuesto */
.related-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.related-content.visible {
    display: flex;
    opacity: 1;
    transform: scale(1.05);
}

iframe {
    width: 90%;
    height: 90%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

/* Media Query para pantallas grandes */
@media screen and (min-width: 769px) {
    body {
        flex-direction: row;
    }

    .tab-container {
        width: 250px;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Alinea los botones a la izquierda */
        position: static; /* Remueve el posicionamiento fijo */
        box-shadow: none;
    }

    .tab {
        width: 100%;
        padding: 20px 10px;
        border-bottom: 1px solid #444;
        border-right: none;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center; /* Alinea el contenido a la izquierda */
        flex: none;
    }

    .tab.active {
        border-bottom: none;
        border-left: 5px solid #ffcc00;
    }
}