#aladin-lite-div {
    width: 520px;
    height: 600px;
    margin: auto;
}

/* Centered title */
 h1 {
    text-align: center;
}
/* Survey buttons container */
.survey-buttons {
    text-align: center;
    margin-top: 20px;
}

.survey-buttons input {
    margin: 0 10px;
}

/* Coordinates input and button */
.coord-input {
    text-align: center;
    margin-top: 20px;
}

/* Styles for smaller screens (phones) */
@media only screen and (max-width: 600px) {
    #aladin-lite-div {
        width: 100%;
        height: 700px;
    }

    .survey-buttons, .coord-input {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .survey-buttons input,.coord-input input,.coord-input select {
        margin: 5px;
    }